.--noSelect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
	     -moz-user-select: none; /* Firefox */
	      -ms-user-select: none; /* Internet Explorer/Edge */
	          user-select: none; /* Non-prefixed version, currently
	                                supported by Chrome and Opera */
}

html, body {
	font-family: "Itim", cursive;
	margin: 0;
	padding: 0;
}

.body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

.body-boardContainer {
	align-items: center;
	background-color: #FFFBF7;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 0;
}

.body-boardContainer-board {
	align-items: stretch;
	background-color: #331D00;
	box-sizing: border-box;
	display: grid;
	grid-gap: 0.5vmin;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	height: 70vmin;
	justify-items: stretch;
	padding: 0.5vmin;
	width: 70vmin;
}

.body-boardContainer-board-cell {
	align-items: center;
	background-color: #E6CFB2;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.body-boardContainer-board-cell-contentsContainer {
	color: #331D00;
	font-size: 14vmin;
}

.body-boardContainer-playerTurnContainer {
	bottom: 0;
	display: block;
	height: 6vh;
	left: 0;
	position: fixed;
	width: 100%;
}

.body-boardContainer-playerTurnContainer-playerTurn {
	color: #331C00;
	font-size: 3.75vh;
	text-align: center;
}

.body-topBar {
	align-items: center;
	display: flex;
	justify-content: space-between;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.body-topBar-buttonsContainer {
	display: flex;
}

.body-topBar-buttonsContainer-buttonContainer {
	display: block;
	text-align: center;
}

.body-topBar-buttonsContainer-buttonContainer-button {
	color: #331D00;
	cursor: pointer;
	display: block;
	font-size: 9vh;
	height: 9vh;
	padding: 1vh;
	width: 9vh;
}

.body-topBar-roomIDContainer {
	align-items: center;
	display: flex;
	height: 9vh;
	margin: 1vh;
}

.body-topBar-roomIDContainer-roomID {
	color: #331C00;
	font-size: 6vh;
}

.body-menuContainer {
	align-items: center;
	background-color: #E6CFB2;
	color: #331D00;
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	justify-content: flex-start;
	left: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	transition: left 0.5s;
	width: 100%;
	z-index: 2;
}

.body-menuContainer-itemsContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 94vh;
	justify-content: space-evenly;
	overflow: none;
	width: 100%;
}

.body-menuContainer-itemsContainer-buttonsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	overflow-y: auto;
	width: 100%;
	max-width: 600px;
}

.body-menuContainer-itemsContainer-itemBlock {
	margin: 1vh;
	text-align: center;
}

.body-menuContainer-itemsContainer-itemBlock-item {
	font-size: 4vh;
	width: 100%;
}

.body-menuContainer-itemsContainer-itemBlock-item input {
	background-color: #331C00;
	border-color: #331C00;
	color: #FFFBF7;
	font-size: 3vh;
	padding: 2vmin;
}

.body-menuContainer-itemsContainer-itemBlock-item-button {
	cursor: pointer;
}

.body-menuContainer-bottomBar {
	align-items: center;
	bottom: 0;
	display: flex;
	font-family: "Roboto", sans-serif;
	height: 6vh;
	justify-content: center;
	left: 0;
	position: absolute;
	width: 100%;
}

.body-menuContainer-closeMenuButtonContainer {
	display: block;
	float: right;
	position: absolute;
	right: 0;
	top: 0;
}

.body-menuContainer-closeMenuButtonContainer-closeMenuButton {
	color: #331D00;
	cursor: pointer;
	display: block;
	font-size: 9vh;
	height: 9vh;
	padding: 1vh;
	width: 9vh;
}

.formBoxContainer {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	display: none;
	justify-content: center;
	left: 0;
	margin: 0;
	overflow-y: auto;
	position: fixed;
	padding: 0;
	top: 0;
	width: 100%;
	z-index: 3;
}

.formBoxContainer-formBox {
	background-color: #FFFBF7;
	border-radius: 1vmin;
	box-sizing: border-box;
	color: #331D00;
	display: flex;
	flex-wrap: wrap;
	min-height: 15em;
	min-width: 11em;
	width: 33em;
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.formBoxContainer-formBox-box {
	flex-basis: 11em;
	flex-grow: 2;
	align-items: center;
	box-sizing: border-box;
	display: flex;
	height: 100%;
	overflow: hidden;
	padding: 0.75em;
}

.formBoxContainer-formBox-box-content {
	width: 100%;
}

.formBoxContainer-formBox-box-content-button {
	border-color: #331C00;
	background-color: #331C00;
	color: #FFFBF7;
	cursor: pointer;
	font-size: 0.9em;
	padding: 2vmin;
}

.formBoxContainer-formBox-box-content form {
	margin: 0;
	padding: 0;
}

.formBoxContainer-formBox-box-content form label {
	display: none;
}

.formBoxContainer-formBox-box-content form input {
	background-color: #FFFFFF;
	color: #331C00;
	font-size: 1em;
	margin-bottom: 1em;
	max-width: 15em;
	width: 100%;
}

.formBoxContainer-formBox-box-content-title {
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.noScript {
	align-items: center;
	background-color: #E6CFB2;
	color: #331C00;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 6;
}

.noScript-text {
	font-size: 5vmax;
	text-align: center;
	width: 75%;
}

.reconnectingContainer, .waitingContainer {
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
	display: flex;
	justify-content: center;
	left: 0;
	margin: 0;
	position: fixed;
	padding: 0;
	top: 0;
	width: 100%;
	z-index: 5;
}

.reconnectingContainer-box, .waitingContainer-box {
	align-items: center;
	background-color: #FFFBF7;
	color: #331D00;
	border-radius: 1vmin;
	display: flex;
	height: 50vmin;
	justify-content: center;
	min-height: 10em;
	min-width: 10em;
	width: 50vmin;
}

.reconnectingContainer-box-itemsContainer, .waitingContainer-box-itemsContainer {
	display: block;
}

.reconnectingContainer-box-itemsContainer-item, .waitingContainer-box-itemsContainer-item {
	font-size: 3.5vh;
	margin: 2.5vmin;
	text-align: center;
}

.waitingContainer {
	z-index: 4;
}

@media screen and (max-width: 587px) {
	.formBoxContainer-formBox-box-content {
		text-align: center;
	}

	.formBoxContainer-formBox-box-content-title {
		text-align: center;
		width: 1fr;
	}
}

/* ================================
 * ========== NIGHT MODE ==========
 * ================================ 
 * http://paletton.com/#uid=10G0u0kkRmi11Mp7dsSBXfIWc6q
 */

body.nightMode .body-boardContainer {
	background-color: #331D00;
}

body.nightMode .body-boardContainer-board {
	background-color: #E6CFB2;
}

body.nightMode .body-boardContainer-board-cell {
	background-color: #7D4600;
}

body.nightMode .body-boardContainer-board-cell-contentsContainer {
	color: #E6CFB2;
}

body.nightMode .body-boardContainer-playerTurnContainer-playerTurn {
	color: #E6CFB2;
}

body.nightMode .body-menuContainer {
	color: #E6CFB2;
	background-color: #7D4600;
}

body.nightMode .body-menuContainer-closeMenuButtonContainer-closeMenuButton {
	color: #E6CFB2;
}

body.nightMode .body-menuContainer-itemBlock-item input {
	background-color: #E6CFB2;
	border-color: #E6CFB2;
	color: #331C00;
}

body.nightMode .body-topBar-buttonsContainer-buttonContainer-button {
	color: #E6CFB2;
}

body.nightMode .body-topBar-roomIDContainer-roomID {
	color: #E6CFB2;
}

body.nightMode .formBoxContainer-formBox {
	background-color: #331D00;
	color: #FFFBF7;
}

body.nightMode .formBoxContainer-formBox-box-content-button {
	border-color: #7D4600;
	background-color: #7D4600;
	color: #FFFBF7;
}

body.nightMode .formBoxContainer-formBox-box-content form input {
	background-color: #7D4600;
	border-color: #7D4600;
	color: #FFFBF7;
}

body.nightMode .reconnectingContainer-box, body.nightMode .waitingContainer-box {
	background-color: #331D00;
	color: #E6CFB2;
}
