<html>
<head>
	<title>Tic Tac Toe</title>
	<!--<meta name="theme-color" content="#999999">-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, height=device-height">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}?t={{ now() }}">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Itim">
	<script src="{{ url_for('static',filename='modernizr.js') }}?t={{ now() }}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
				integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
				crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"
				integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe"
				crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.1/clipboard.min.js"
				integrity="sha256-hIvIxeqhGZF+VVeM55k0mJvWpQ6gTkWk3Emc+NmowYA="
				crossorigin="anonymous"></script>
	<script type="text/javascript">
		function applyMode() { 
			var toggle = localStorage.getItem("toggle");
			var body = document.getElementsByTagName("body")[0];

			if (toggle == "night") {
				body.classList.add("nightMode");
			}
			else {
				body.classList.remove("nightMode");
			}
		}
	</script>

	<script type="text/javascript">
		function socketCreateRoom() {
			waitForSocketConnection(function() {
				var msg = {
					'event':'createroom'
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketEnterRoom(roomID, roomKey) {
			waitForSocketConnection(function() {
				var msg = {
					'event':'enterroom',
					'roomID':roomID,
					'roomKey':roomKey
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketGetBoard(playerID, playerKey) {
			waitForSocketConnection(function() {
				var msg = {
					'event':'getboard',
					'playerID':playerID,
					'playerKey':playerKey
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketMove(playerID, playerKey, cellID) {
			waitForSocketConnection(function() {
				var msg = {
					'event':'move',
					'playerID':playerID,
					'playerKey':playerKey,
					'cell':cellID
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketRejoinRoom(playerID, playerKey) {
			waitForSocketConnection(function() {
				var msg = {
					'event':'rejoinroom',
					'playerID':playerID,
					'playerKey':playerKey
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketSpectateRoom(spectateID, spectateKey) {
			waitForSocketConnection(function() {
				var msg = {
					'event':'spectateroom',
					'roomID':spectateID,
					'spectateKey':spectateKey
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketUpdateSettings() {
			waitForSocketConnection(function() {
				var settings = {};
				var len = sessionStorage.length;
				for (var i = 0; i < len; ++i) {
					var key = sessionStorage.key(i);
					if (key.startsWith('settings_')) {
						settings[key] = sessionStorage.getItem(key);
					}
				}
				var msg = {
					'event':'updatesettings',
					'playerID':sessionStorage.playerID,
					'playerKey':sessionStorage.playerKey,
					'settings':settings
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketLeaveRoom() {
			waitForSocketConnection(function() {
				var msg = {
					'event':'leaveroom',
					'playerID':sessionStorage.playerID,
					'playerKey':sessionStorage.playerKey
				};
				socket.send(JSON.stringify(msg));
			});
		}

		function socketRequestUndoMove() {
			waitForSocketConnection(function() {
				var msg = {
					'event':'requestundomove',
					'playerID':sessionStorage.playerID,
					'playerKey':sessionStorage.playerKey
				};
				socket.send(JSON.stringify(msg));
			});
		}
	</script>

	<script>
		function enterFullscreen(element) {
			console.log('entering fullscreen');
			if (element.requestFullscreen) {
				element.requestFullscreen();
			}
			else if (element.mozRequestFullScreen) {
				element.mozRequestFullScreen();
			}
			else if (element.webkitRequestFullscreen) {
				element.webkitRequestFullscreen();
			}
			else if (element.msRequestFullscreen) {
				element.msRequestFullscreen();
			}
		}

		function exitFullscreen() {
			console.log('exiting fullscreen');
			if (document.exitFullscreen) {
				document.exitFullscreen();
			}
			else if (document.mozCancelFullScreen) {
				document.mozCancelFullScreen();
			}
			else if (document.webkitExitFullscreen) {
				document.webkitExitFullscreen();
			}
			else if (document.msExitFullscreen) {
				document.msExitFullscreen();
			}
		}

		function toggleFullscreen() {
			var inFullscreen = document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement;
			if (inFullscreen) {
				exitFullscreen();
			}
			else {
				enterFullscreen(document.documentElement);
			}
		}
	</script>

	<script type="text/javascript">
		function toggleNightMode() {
			var toggle = localStorage.getItem("toggle");
			var body = document.getElementsByTagName("body")[0];
			
			if (toggle == "night") {
				body.classList.remove("nightMode");
				localStorage.setItem("toggle", "day");
			}
			else {
				body.classList.add("nightMode");
				localStorage.setItem("toggle", "night");
			}
		}

		function toggleAllowSpectators() {
			if (sessionStorage.playerNum == 1) {
				if (sessionStorage.settings_allowSpectators == "true") {
					if (confirm("Are you sure you want to disallow spectators? This will kick any current spectators from the room.")) {
						sessionStorage.setItem("settings_allowSpectators", false);
						socketUpdateSettings();
					}
					else {
						$('#toggleAllowSpectators').prop('checked', true);
					}
				}
				else {
					sessionStorage.setItem("settings_allowSpectators", true);
					socketUpdateSettings();
				}
			}
		}

		function leaveRoom() {
			if (confirm("Are you sure you want to leave?")) {
				socketLeaveRoom();
			}
		}
	</script>

	<script type="text/javascript">
		var socket = null;

		function updateInterfaceInfo() {
			if (sessionStorage.roomID !== undefined) {
				$('#menuDisplayRoomID').text('Room ID: ' + sessionStorage.roomID);
				$('#displayRoomID').text('#' + sessionStorage.roomID);
			}

			if (sessionStorage.roomKey !== undefined) {
				$('#displayRoomKey').text('Room Key: ' + sessionStorage.roomKey);
			}

			if (sessionStorage.playerNum !== undefined) {
				if (sessionStorage.playerNum == 0) {
					$('#displayPlayerNum').text('You are spectating');
				}
				else {
					$('#displayPlayerNum').text('You are player #' + sessionStorage.playerNum);
				}
			}

			if (sessionStorage.playerID !== undefined) {
				$('#displayPlayerID').text('Player ID: ' + sessionStorage.playerID);
			}

			if (sessionStorage.playerKey !== undefined) {
				$('#displayPlayerKey').text('Player Key: ' + sessionStorage.playerKey);
			}

			if (sessionStorage.playerNum !== undefined) {
				if (sessionStorage.playerNum == 1) {
					$('#symbol').html('You are <i class="far fa-circle"></i>\'s');
				}
				else if (sessionStorage.playerNum == 2) {
					$('#symbol').html('You are <i class="fas fa-times"></i>\'s');
				}
			}

			if (sessionStorage.playerTurn !== undefined) {
				if (sessionStorage.playerTurn == sessionStorage.playerNum) {
					$('#playerTurn').text('It\'s your turn! (you are player #' + sessionStorage.playerNum + ')');
				}
				else {
					if (sessionStorage.playerNum == 0) {
						$('#playerTurn').text('It\'s player #' + sessionStorage.playerTurn + '\'s turn (you are spectating)');
					}
					else {
						$('#playerTurn').text('It\'s player #' + sessionStorage.playerTurn + '\'s turn (you are player #' + sessionStorage.playerNum + ')');
					}
				}
			}

			if (sessionStorage.spectatorKey !== undefined) {
				$('#displaySpectateKey').text('Spectator Key: ' + sessionStorage.spectatorKey);
			}

			if (sessionStorage.playerNum == 0) {
				$('#copyRoomLinkContainer').css('display', 'none');
				$('#copyPlayerLinkContainer').css('display', 'none');
			}

			if (sessionStorage.settings_allowSpectators !== undefined) {
				if (sessionStorage.settings_allowSpectators == 'true') {
					$('#toggleAllowSpectators').prop('checked', true);
					$('#displaySpectateKey').css('display', 'block');
					$('#copySpectateLinkContainer').css('display', 'block');
				}
				else {
					$('#toggleAllowSpectators').prop('checked', false);
					$('#displaySpectateKey').css('display', 'none');
					$('#copySpectateLinkContainer').css('display', 'none');
				}
			}

			if (sessionStorage.playerNum !== undefined) {
				if (sessionStorage.playerNum != 1) {
					$('#allowSpectatorsContainer').css('display', 'none');
				}
			}

			if (sessionStorage.numPlayers !== undefined) {
				if (sessionStorage.numPlayers < sessionStorage.maxPlayers) {
					$('#playerTurn').text('Waiting for players...');
				}
			}
		}

		function renderBoardCells(boardCSV) {
			var board = boardCSV.split(',');
			for (var i = 0; i < board.length; i++) {
				if (board[i] == '0') {
					$('#board').children().eq(i).children().first().html('');
					$('#board').children().eq(i).css('cursor', 'pointer');
				}
				else if (board[i] == '1') {
					$('#board').children().eq(i).children().first().html('<i class="far fa-circle"></i>');
					$('#board').children().eq(i).css('cursor','initial');
				}
				else if (board[i] == '2') {
					$('#board').children().eq(i).children().first().html('<i class="fas fa-times"></i>');
					$('#board').children().eq(i).css('cursor','initial');
				}
			}
		}

		function initWebSocket() {
			var wsProtocol = '';
			if (window.location.protocol == 'http:') {
				wsProtocol = 'ws://';
			}
			else {
				wsProtocol = 'wss://';
			}

			var wsString = wsProtocol + window.location.hostname + ':' + window.location.port + /*window.location.pathname +*/ '/data';

			socket = new WebSocket(wsString);

			// Open a new connection to the server
			socket.onopen = function() {
				console.log('connection established');
				$('#reconnecting').hide();
				// If we were previously connected, rejoin so the server can add our WebSocket
				if (sessionStorage.playerID) {
					socketRejoinRoom(sessionStorage.playerID, sessionStorage.playerKey);
				}

				/*var msg = {
					event : 'test',
					param1 : 'test1',
					param2 : 'test2'
				};
				socket.send(JSON.stringify(msg));*/

				if (sessionStorage.playerID) {
					$('#roomsDialogue').css("display", "none");
					// Authenticated user has refreshed, so display the board
					socketGetBoard(sessionStorage.playerID, sessionStorage.playerKey);
				}

				updateInterfaceInfo();
			};

			socket.onerror = function() {
				console.log('connection error');
			};

			socket.onclose = function() {
				console.log('socket closed');
				$('#reconnecting').show();
				socket = null;
				var interval = 1000 + Math.floor(Math.random() * 3000); // Generate a random interval between 1 and 3 seconds
				setTimeout(function(){initWebSocket();}, interval);
			};

			// Handle incoming WebSocket messages
			socket.onmessage = function(message) {
				var result = message.data;
				var obj = JSON.parse(result);
				// Handle gameover event
				if (obj.event == 'gameover') {
					console.log('handle gameover');
					if (obj.winner === 0) {
						alert('Game over! It was a draw!');
						// If the app isn't currently visisble to the user, send a notification
						if (document['hidden']) {
							var options = {
								body : 'Game over in room #' + sessionStorage.roomID + '! It was a draw!',
								requireInteraction : true,
							}
							var notification = new Notification('Tic Tac Toe', options);
						}
					}
					else if (obj.winner == sessionStorage.playerNum) {
						alert('Game over! You won!');
						// If the app isn't currently visisble to the user, send a notification
						if (document['hidden']) {
							var options = {
								body : 'Game over in room #' + sessionStorage.roomID + '! You won!',
								requireInteraction : true,
							}
							var notification = new Notification('Tic Tac Toe', options);
						}
					}
					else {
						alert('Game over! Player #' + obj.winner + ' won!');
						// If the app isn't currently visisble to the user, send a notification
						if (document['hidden']) {
							var options = {
								body : 'Game over in room #' + sessionStorage.roomID + '! Player #' + obj.winner + ' won!',
								requireInteraction : true,
							}
							var notification = new Notification('Tic Tac Toe', options);
						}
					}
					sessionStorage.clear();
					location.reload();
				}
				// Handle update event
				else if (obj.event == 'update') {
					console.log('handle update');
					sessionStorage.setItem('playerTurn', obj.playerTurn);
					updateInterfaceInfo();
					renderBoardCells(obj.board);
					// If it is the player's turn and the app isn't currently visisble to the user, send a notification
					if (document['hidden'] && sessionStorage.playerTurn == sessionStorage.playerNum) {
						var options = {
							body : 'It\'s your turn in room #' + sessionStorage.roomID + '!',
							requireInteraction : true,
						}
						var notification = new Notification('Tic Tac Toe', options);
					}
				}
				// Handle createroom event
				else if (obj.event == 'createroom') {
					console.log('handle createroom');
					if (obj.success) {
						sessionStorage.setItem('roomID', obj.roomID);
						sessionStorage.setItem('roomKey', obj.roomKey);
						sessionStorage.setItem('playerID', obj.playerID);
						sessionStorage.setItem('playerKey', obj.playerKey);
						sessionStorage.setItem('playerNum', obj.playerNum);
						sessionStorage.setItem('playerTurn', obj.playerTurn);
						sessionStorage.setItem('numPlayers', obj.numPlayers);
						sessionStorage.setItem('maxPlayers', obj.maxPlayers);
						for (var k in obj.settings) {
							if (obj.settings.hasOwnProperty(k)) {
								sessionStorage.setItem(k, obj.settings[k]);
							}
						}
						$('#roomsDialogue').css("display", "none");
						updateInterfaceInfo();
					}
					else {
						alert(obj.message);
					}
				}
				// Handle enterroom event
				else if (obj.event == 'enterroom') {
					console.log('handle enterroom');
					if (obj.success) {
						{% if joining %}
							sessionStorage.setItem('roomID', '{{ joinRoomID }}');
							sessionStorage.setItem('roomKey', '{{ joinRoomKey }}');
						{% else %}
							sessionStorage.setItem('roomID', $('#enterRoomID').val());
							sessionStorage.setItem('roomKey', $('#enterRoomKey').val());
						{% endif %}
						sessionStorage.setItem('playerID', obj.playerID);
						sessionStorage.setItem('playerNum', obj.playerNum);
						sessionStorage.setItem('playerKey', obj.playerKey);
						sessionStorage.setItem('playerTurn', obj.playerTurn);
						sessionStorage.setItem('spectatorKey', obj.spectatorKey);
						sessionStorage.setItem('numPlayers', obj.numPlayers);
						sessionStorage.setItem('maxPlayers', obj.maxPlayers);
						for (var k in obj.settings) {
							if (obj.settings.hasOwnProperty(k)) {
								sessionStorage.setItem(k, obj.settings[k]);
							}
						}
						$('#roomsDialogue').css("display", "none");
						updateInterfaceInfo();
						renderBoardCells(obj.board);
					}
					else {
						alert(obj.message);

						{% if joining %}
							window.location.href = '/';
						{% endif %}
					}
				}
				// Handle rejoinroom event
				else if (obj.event == 'rejoinroom') {
					console.log('handle rejoinroom');
					if (obj.success) {
						sessionStorage.setItem('roomID', obj.roomID);
						sessionStorage.setItem('roomKey', obj.roomKey);
						sessionStorage.setItem('playerNum', obj.playerNum);
						// Load Python variables into JavaScript
						var rejoinRoomID = '{{ rejoinRoomID }}';
						var rejoinRoomKey = '{{ rejoinRoomKey }}';
						// If they exist, then we are rejoining. Store them in SessionStorage
						if (rejoinRoomID != '') {
							sessionStorage.setItem('playerID', rejoinRoomID);
							sessionStorage.setItem('playerKey', rejoinRoomKey);
						}
						else {
							// If we're rejoining on a new session, set the playerID and playerKey in SessionStorage
							// based on the values entered by the user into the rejoin room form.
							// If they're already set then that means we're rejoining due to a reconnect,
							// so don't overwrite them (as this will clear the playerID and playerKey from SessionStorage.
							if (!sessionStorage.playerID) sessionStorage.setItem('playerID', $('#playerID').val());
							if (!sessionStorage.playerKey) sessionStorage.setItem('playerKey', $('#playerKey').val());
						}
						sessionStorage.setItem('playerTurn', obj.playerTurn);
						sessionStorage.setItem('spectatorKey', obj.spectatorKey);
						sessionStorage.setItem('numPlayers', obj.numPlayers);
						sessionStorage.setItem('maxPlayers', obj.maxPlayers);
						for (var k in obj.settings) {
							if (obj.settings.hasOwnProperty(k)) {
								sessionStorage.setItem(k, obj.settings[k]);
							}
						}
						$('#roomsDialogue').css("display", "none");
						updateInterfaceInfo();
						renderBoardCells(obj.board);
					}
					else {
						alert(obj.message);
					}
				}
				// Handle move event
				else if (obj.event == 'move') {
					console.log('handle move');
					if (!obj.success) {
						alert(obj.message);
					}
				}
				// Handle getboard event
				else if (obj.event == 'getboard') {
					console.log('handle getboard');
					if (obj.success) {
						renderBoardCells(obj.board);
						sessionStorage.setItem('playerTurn', obj.playerTurn);
						updateInterfaceInfo();
					}
					else {
						alert(obj.message);
					}
				}
				// Handle spectateroom event
				else if (obj.event == 'spectateroom') {
					console.log('handle spectateroom');
					if (obj.success) {
						sessionStorage.setItem('playerNum', 0);
						sessionStorage.setItem('playerTurn', obj.playerTurn);
						$('#roomsDialogue').css("display", "none");
						updateInterfaceInfo();
						renderBoardCells(obj.board);
					}
					else {
						alert(obj.message);
					}
					history.replaceState(null, 'Tic Tac Toe', '/');
				}
				// Handle newroomsettings event
				else if (obj.event == 'newroomsettings') {
					console.log('handle newroomsettings');
					for (var k in obj.settings) {
						if (obj.settings.hasOwnProperty(k)) {
							sessionStorage.setItem(k, obj.settings[k]);
						}
					}
					if (sessionStorage.settings_allowSpectators == 'false') {
						sessionStorage.setItem('spectatorKey', '');
					}
					updateInterfaceInfo();
				}
				// Handle updatesettings event
				else if (obj.event == 'updatesettings') {
					console.log('handle updatesettings');
					if (!obj.success) {
						alert(obj.message);
					}
				}
				// Handle newspectatorkey event
				else if (obj.event == 'newspectatorkey') {
					console.log('handle newspectatorkey');
					sessionStorage.setItem('spectatorKey', obj.key);
					updateInterfaceInfo();
				}
				// Handle kicked event
				else if (obj.event == 'kicked') {
					console.log('handle kicked');
					alert('You have been kicked from this room');
					// If the app isn't currently visisble to the user, send a notification
					if (document['hidden']) {
						var options = {
							body : 'You have been kicked from room #' + sessionStorage.roomID,
							requireInteraction : true,
						}
						var notification = new Notification('Tic Tac Toe', options);
					}
					sessionStorage.clear();
					location.reload();
				}
				// Handle updateplayercount event
				else if (obj.event == 'updateplayercount') {
					console.log('handle updateplayercount');
					sessionStorage.setItem('numPlayers', obj.count);
					updateInterfaceInfo();

					if (sessionStorage.numPlayers == sessionStorage.maxPlayers) {
						// If the app isn't currently visisble to the user, send a notification
						if (document['hidden']) {
							var options = {
								body : 'All players ready in room #' + sessionStorage.roomID + '!',
								requireInteraction : true,
							}
							var notification = new Notification('Tic Tac Toe', options);
						}
					}
				}
				// Handle leaveroom event
				else if (obj.event == 'leaveroom') {
					console.log('handle leaveroom');
					if (obj.success) {
						if (obj.playerNum == sessionStorage.playerNum) {
							alert('You left the room');
						}
						else {
							alert('Player #' + obj.playerNum + ' left the room');
							// If the app isn't currently visisble to the user, send a notification
							if (document['hidden']) {
								var options = {
									body : 'Player #' + obj.playerNum + ' left room #' + sessionStorage.roomID,
									requireInteraction : true,
								}
								var notification = new Notification('Tic Tac Toe', options);
							}
						}
						sessionStorage.clear();
						location.reload();
					}
					else {
						alert(obj.message);
					}
				}
				// Handle approveundomove event
				else if (obj.event == 'approveundomove') {
					console.log('handle approveundomove');
					if (obj.success) {
						if (sessionStorage.playerNum != obj.playerNum) {
							var response = confirm('Player #' + obj.playerNum + ' wants to undo their last move. Is that ok?');
							waitForSocketConnection(function() {
								var msg = {
									'event':'respondtoundomoverequest',
									'allow':response,
									'playerID':sessionStorage.playerID,
									'playerKey':sessionStorage.playerKey
								};
								socket.send(JSON.stringify(msg));
							});
						}
					}
				}
				// Handle undomove event
				else if (obj.event == 'undomove') {
					console.log('handle undomove');
					if (obj.success) {
						if (sessionStorage.playerNum == obj.playerNum) {
							alert('Your request has been approved! It is your turn again.');
							sessionStorage.playerTurn = sessionStorage.playerNum;
						}
						else if (sessionStorage.playerNum == 0) {
							alert('Player #' + obj.playerNum + ' undid their move, so it is their turn again');
						}
					}
					else {
						if (sessionStorage.playerNum == obj.playerNum) {
							alert('Your request to undo your move has been declined');
						}
					}
					$('#waiting').hide();
				}
				// Handle requestundomove event
				else if (obj.event == 'requestundomove') {
					console.log('handle requestundomove');
					if (!obj.success) {
						alert(obj.message);
						$('#waiting').hide();
					}
				}
				// Handle respondtoundomoverequest event
				else if (obj.event == 'respondtoundomoverequest') {
					console.log('handle respondtoundomoverequest');
					if (!obj.success) {
						alert(obj.message);
					}
				}
				// Handle test event
				/*else if (obj.event == 'test') {
					console.log('handle test');
					if (obj.success) {
						console.log('test successful');
					}
					else {
						alert('test failed');
					}
				}*/
			};
		}

		function waitForSocketConnection(callback) {
			// Adapted from https://stackoverflow.com/a/21394730
			setTimeout(
				function () {
					if (socket.readyState === 1) {
						console.log("Connection is made")
						if (callback != null) {
							callback();
						}
						return;
					}
					else {
						console.log("wait for connection...")
						waitForSocketConnection(callback);
					}
				}, 500); // Wait 500ms to try again
}

		$(document).ready(function() {
			initWebSocket();
			
			{% if joining %}
				{% if not joinRoomID and not joinRoomKey %}
					alert('Error! You didn\'t specify an ID or a key');
					window.location.href = '/';
				{% elif not joinRoomID %}
					alert('Error! You didn\'t specify an ID');
					window.location.href = '/';
				{% elif not joinRoomKey %}
					alert('Error! You didn\'t specify a key');
					window.location.href = '/';
				{% endif %}
				if (confirm('Enter room #' + {{ joinRoomID }} + '?')) {
					socketEnterRoom(
						'{{ joinRoomID }}',
						'{{ joinRoomKey }}'.toLowerCase()
					);
				}
				history.replaceState(null, 'Tic Tac Toe', '/');
			{% endif %}

			{% if rejoining %}
				{% if not rejoinRoomID and not rejoinRoomKey %}
					alert('Error! You didn\'t specify an ID or a key');
					window.location.href = '/';
				{% elif not rejoinRoomID %}
					alert('Error! You didn\'t specify an ID');
					window.location.href = '/';
				{% elif not rejoinRoomKey %}
					alert('Error! You didn\'t specify a key');
					window.location.href = '/';
				{% endif %}
				if (confirm('Enter room #' + {{ rejoinRoomID }} + '?')) {
					socketRejoinRoom(
						'{{ rejoinRoomID }}',
						'{{ rejoinRoomKey }}'.toLowerCase()
					);
				}
				history.replaceState(null, 'Tic Tac Toe', '/');
			{% endif %}

			{% if spectating %}
				{% if not spectateID and not spectateKey %}
					alert('Error! You didn\'t specify an ID or a key');
					window.location.href = '/';
				{% elif not spectateID %}
					alert('Error! You didn\'t specify an ID');
					window.location.href = '/';
				{% elif not spectateKey %}
					alert('Error! You didn\'t specify a key');
					window.location.href = '/';
				{% endif %}
				if (confirm('Spectate room #' + {{ spectateID }} + '?')) {
					sessionStorage.setItem('roomID', '{{ spectateID }}');
					sessionStorage.setItem('spectatorKey', '{{ spectateKey }}');
					socketSpectateRoom(
						'{{ spectateID }}',
						'{{ spectateKey }}'.toLowerCase()
					);
				}
				history.replaceState(null, 'Tic Tac Toe', '/');
			{% endif %}

			var createRoomButton = $('#createRoom');
			createRoomButton.on('click touchend', function(e) {
				e.preventDefault();
				socketCreateRoom();
			});

			var enterRoomButton = $('#enterRoom');
			enterRoomButton.on('click touchend', function(e) {
				e.preventDefault();
				socketEnterRoom(
					$('#enterRoomID').val(),
					$('#enterRoomKey').val().toLowerCase()
				);
			});

			var rejoinRoomButton = $('#rejoinRoom');
			rejoinRoomButton.on('click touchend', function(e) {
				// Prevent both click and touchend firing e.g. on tablets
				// by temporarily disabling whichever one didn't fire
				if (e.type == 'click') $(this).off('touchend');
				if (e.type == 'touchend') $(this).off('click');

				e.preventDefault();
				socketRejoinRoom(
					$('#playerID').val(),
					$('#playerKey').val().toLowerCase()
				);
			});

			var undoButton = $('#undoButton');
			undoButton.on('click touchend', function(e) {
				if (sessionStorage.playerTurn != sessionStorage.playerNum) {
					var empty = true;
					$('.body-boardContainer-board-cell-contentsContainer').each(function(i) {
						if ($(this).html() != '') {
							empty = false;
						}
					});
					if (!empty) {
						$("#waiting").show();
						socketRequestUndoMove();
					}
					else {
						alert('There is nothing to undo!');
					}
				}
				else {
					alert("You can't undo your last move on your own turn!");
				}
			});

			var cells = $('.body-boardContainer-board-cell');
			cells.on('click touchend', function(e) {
				// Prevent both click and touchend firing e.g. on tablets
				// by temporarily disabling whichever one didn't fire
				if (e.type == 'click') $(this).off('touchend');
				if (e.type == 'touchend') $(this).off('click');

				if (sessionStorage.playerTurn == sessionStorage.playerNum) {
					console.log('sending move');
					var cellID = cells.index(this);
					socketMove(
						sessionStorage.playerID,
						sessionStorage.playerKey,
						cellID
					);
				}
				else {
					alert('It\'s not your turn!');
				}
			});
		});
	</script>

	<script type="text/javascript">
		window.addEventListener('storage', applyMode, false);
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			// Hide the waiting box
			$('#waiting').hide();

			// Show the roomsDialogue if this is a new player
			if (sessionStorage.playerNum === undefined) {
				$('#roomsDialogue').css('display', 'flex');
			}

			// Handle menu opening and closing
			$('#openMenuButton').on('click', function() {
				$('#menuContainer').css('left', '0');
			});

			$('#closeMenuButton').on('click', function() {
				$('#menuContainer').css('left', '100%');
			});

			if (!Modernizr.fullscreen) {
				$('#toggleFullscreenButton').css('display', 'none');
			}

			// Handle join button click
			var copyRoomLinkClipboard = new ClipboardJS('#copyRoomLink', {
				text: function(trigger) {
					return window.location.href + 'join/' + sessionStorage.roomID + '/' + (sessionStorage.roomKey).replace(' ', '-');
				}
			});

			copyRoomLinkClipboard.on('success', function(e) {
				alert('Copied link to clipboard!\nNow share it with a friend so they can join.');
			});

			// Handle rejoin button click
			var copyPlayerLinkClipboard = new ClipboardJS('#copyPlayerLink', {
				text: function(trigger) {
					return window.location.href + 'rejoin/' + sessionStorage.playerID + '/' + (sessionStorage.playerKey).replace(' ', '-');
				}
			});

			copyPlayerLinkClipboard.on('success', function(e) {
				alert('Copied link to clipboard!\nNow enter it on another device to start playing on it.');
			});

			// Handle spectate button click
			var spectateRoomLinkClipboard = new ClipboardJS('#copySpectateLink', {
				text: function(trigger) {
					return window.location.href + 'spectate/' + sessionStorage.roomID + '/' + sessionStorage.spectatorKey.replace(' ', '-');
				}
			});

			spectateRoomLinkClipboard.on('success', function(e) {
				alert('Copied link to clipboard!\nNow share it with a friend so they can spectate.');
			});
		});
	</script>
	<script type="text/javascript">
		// Request Notification permission on load
		$(document).ready(function() {
			Notification.requestPermission();
		});
	</script>
	<script type="text/javascript">
		// Allow the roomsDialogueBox to stick to the top of the page and scroll properly
		// when it's taller than the window
		$(window).resize(function() {
			if(!sessionStorage.roomID) {
				console.log("visible");
				if ($("#roomsDialogueBox").height() > $("#roomsDialogue").height()) {
					$("#roomsDialogue").css("display", "block");
					console.log("now block");
				}
				else {
					$("#roomsDialogue").css("display", "flex");
					console.log("now flex");
				}
			}
		});
	</script>
</head>
<body onload="applyMode()">
	<noscript>
		<div class="noScript"><span class="noScript-text">Sorry! This game won't work unless you have JavaScript enabled.</span></div>
	</noscript>
	<div class="body">
		<div class="body-topBar --noSelect">
			<div class="body-topBar-roomIDContainer" id="roomIDContainer">
				<div class="body-topBar-roomIDContainer-roomID" id="displayRoomID"></div>
			</div>
			<div class="body-topBar-buttonsContainer">
				<div class="body-topBar-buttonsContainer-buttonContainer" id="undoButtonContainer">
					<div class="body-topBar-buttonsContainer-buttonContainer-button" id="undoButton">
						<i class="fas fa-undo-alt"></i>
					</div>
				</div>
				<div class="body-topBar-buttonsContainer-buttonContainer" id="openMenuButtonContainer">
					<div class="body-topBar-buttonsContainer-buttonContainer-button" id="openMenuButton">
						<i class="fas fa-bars"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="body-boardContainer --noSelect" id="boardContainer">
			<div class="body-boardContainer-board" id="board">
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
				<div class="body-boardContainer-board-cell">
					<div class="body-boardContainer-board-cell-contentsContainer"></div>
				</div>
			</div>
			<div class="body-boardContainer-playerTurnContainer">
				<div class="body-boardContainer-playerTurnContainer-playerTurn" id="playerTurn"></div>
			</div>
		</div>
		<div class="body-menuContainer" id="menuContainer">
			<div class="body-menuContainer-closeMenuButtonContainer --noSelect" id="closeMenuButtonContainer">
				<div class="body-menuContainer-closeMenuButtonContainer-closeMenuButton" id="closeMenuButton">
					<i class="fas fa-times-circle"></i>
				</div>
			</div>
			<div class="body-menuContainer-itemsContainer">
				<div class="body-menuContainer-itemsContainer-itemBlock --noSelect">
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="symbol"></div>
				</div>
				<div class="body-menuContainer-itemsContainer-itemBlock">
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="menuDisplayRoomID"></div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="displayRoomKey"></div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item --noSelect" id="copyRoomLinkContainer">
						Invite a friend to play: <span class="body-menuContainer-itemsContainer-itemBlock-item-button" id="copyRoomLink"><i class="fas fa-clipboard"></i></span>
					</div>
				</div>
				<div class="body-menuContainer-itemsContainer-itemBlock">
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="displayPlayerID"></div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="displayPlayerKey"></div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item --noSelect" id="copyPlayerLinkContainer">
						Play on another device: <span class="body-menuContainer-itemsContainer-itemBlock-item-button" id="copyPlayerLink"><i class="fas fa-clipboard"></i></span>
					</div>
				</div>
				<div class="body-menuContainer-itemsContainer-itemBlock">
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="allowSpectatorsContainer">
						Allow spectators: <input type="checkbox" class="body-menuContainer-itemsContainer-itemBlock-item-button" id="toggleAllowSpectators" onclick="toggleAllowSpectators()" value="Allow/disallow spectators">
					</div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item" id="displaySpectateKey"></div>
					<div class="body-menuContainer-itemsContainer-itemBlock-item --noSelect" id="copySpectateLinkContainer">
						Invite a friend to spectate: <span class="body-menuContainer-itemsContainer-itemBlock-item-button" id="copySpectateLink"><i class="fas fa-clipboard"></i></span>
					</div>
				</div>
				<div class="body-menuContainer-itemsContainer-buttonsContainer">
					<div class="body-menuContainer-itemsContainer-itemBlock --noSelect">
						<div class="body-menuContainer-itemsContainer-itemBlock-item">
							<input type="button" class="body-menuContainer-itemsContainer-itemBlock-item-button" id="leaveButton" onclick="leaveRoom()" value="Leave room">
						</div>
					</div>
					<div class="body-menuContainer-itemsContainer-itemBlock --noSelect">
						<div class="body-menuContainer-itemsContainer-itemBlock-item">
							<input type="button" class="body-menuContainer-itemsContainer-itemBlock-item-button" id="toggleButton" onclick="toggleNightMode()" value="Toggle day/night mode">
						</div>
					</div>
					<div class="body-menuContainer-itemsContainer-itemBlock --noSelect">
						<div class="body-menuContainer-itemsContainer-itemBlock-item">
							<input type="button" class="body-menuContainer-itemsContainer-itemBlock-item-button" id="toggleFullscreenButton" onclick="toggleFullscreen()" value="Toggle fullscreen">
						</div>
					</div>
				</div>
			</div>
			<div class="body-menuContainer-bottomBar">
				Version 0.1 |&nbsp;<a href="/about" target="_blank">About</a>
			</div>
		</div>
	</div>
	<div class="formBoxContainer --noSelect" id="roomsDialogue">
		<div class="formBoxContainer-formBox" id="roomsDialogueBox">
			<div class="formBoxContainer-formBox-box">
				<div class="formBoxContainer-formBox-box-content">
					<div class="formBoxContainer-formBox-box-content-title">Enter an existing room:</div>
					<form id="enterRoomForm" class="formBoxContainer-formBox-box-content-form">
						<label for="roomID">Room ID</label>
						<input class="--disableOnTouch" id="enterRoomID" name="roomID" required type="number" value="" min="1" placeholder="Room ID">
						<br>
						<label for="roomKey">Room Key</label>
						<input class="--disableOnTouch" id="enterRoomKey" name="roomKey" required type="text" value="" placeholder="Room Key">
					</form>
					<input class="formBoxContainer-formBox-box-content-button" type="button" id="enterRoom" value="Enter Room">
				</div>
			</div>
			<div class="formBoxContainer-formBox-box">
				<div class="formBoxContainer-formBox-box-content">
					<div class="formBoxContainer-formBox-box-content-title">Re-join an active room on another device:</div>
					<form id="rejoinRoomForm" class="formBoxContainer-formBox-box-content-form">
						<label for="playerID">Player ID</label>
						<input class="--disableOnTouch" id="playerID" name="playerID" required type="number" value="" min="1" placeholder="Player ID">
						<br>
						<label for="playerKey">Player Key</label>
						<input class="--disableOnTouch" id="playerKey" name="playerKey" required type="text" value="" placeholder="Player Key">
					</form>
					<input class="formBoxContainer-formBox-box-content-button" id="rejoinRoom" type="button" value="Re-join room">
				</div>
			</div>
			<div class="formBoxContainer-formBox-box">
				<div class="formBoxContainer-formBox-box-content">
					<div class="formBoxContainer-formBox-box-content-title">Or make a new room:</div>
					<input class="formBoxContainer-formBox-box-content-button" id="createRoom" type="button" value="Create Room">
				</div>
			</div>
		</div>
	</div>
	<div class="reconnectingContainer --noSelect" id="reconnecting">
		<div class="reconnectingContainer-box">
			<div class="reconnectingContainer-box-itemsContainer">
				<div class="reconnectingContainer-box-itemsContainer-item">Reconnecting...</div>
				<div class="reconnectingContainer-box-itemsContainer-item"><i class="fas fa-spinner fa-pulse fa-3x"></i></div>
			</div>
		</div>
	</div>
	<div class="waitingContainer --noSelect" id="waiting">
		<div class="waitingContainer-box">
			<div class="waitingContainer-box-itemsContainer">
				<div class="waitingContainer-box-itemsContainer-item">Waiting...</div>
				<div class="waitingContainer-box-itemsContainer-item"><i class="fas fa-spinner fa-pulse fa-3x"></i></div>
			</div>
		</div>
	</div>
</body>
</html>
